/* Dropdown Menu */

.profile-dropdown {
  position: absolute;
  top: 35px;
  left: -80px;
  display: flex;
  flex-flow: column;
  background-color: white;
  width: 100%;
  min-width: 120px;
  max-width: 250px;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  display: none;
  padding: 0.5rem 1rem;
}
.fa-angle-down {
  display: none;
}
.nav-bar .profile-dropdown li {
  color: var(--grey-color-dark);
  font-size: 1rem;
  font-weight: 700;
}
.nav-bar .profile-dropdown:hover li a,
.nav-bar .profile-dropdown:hover li button {
  color: var(--grey-color-dark);
}
.nav-bar .profile-dropdown:hover li:hover a,
.nav-bar .profile-dropdown:hover li:hover button {
  color: var(--primary-hover);
}
.profile-btn-icon {
  position: relative;
}
.profile-btn-icon:hover .profile-dropdown {
  display: block;
}

.btn-logout {
  text-decoration: none;
  border: none;
  background-color: white;
  color: var(--grey-color-dark);
  font-size: 1rem;
  font-weight: 700;
}

/* Override - Navigation Style */
.burger-menu.nav-active {
  transform: rotate(90deg);
  transition: transform 0.4s ease-in;
}
.badge-icon {
  min-width: 20px;
  min-height: 20px;
  font-size: 0.8rem;
}

.home-banner {
  position: relative;
}
.nav-pill .nav-active {
  color: var(--primary-hover);
  font-weight: 700;
}

@media all and (max-width: 786px) {
  .profile-dropdown {
    position: absolute;
    top: 20px;
    left: -10px;
  }
}
@media all and (max-width: 680px) {
  .page-title {
    font-size: 2rem;
  }

  .profile-dropdown {
    top: 40px;
    left: 0;
    width: 100vw;
    max-width: none;
  }
}
@media all and (max-width: 540px) {
  .badge-icon {
    display: none;
  }
  .nav-pill.nav-btn-icons {
    position: absolute;
    top: calc(10vh + 107px);
  }
  .profile-btn-icon:hover .profile-dropdown {
    display: hidden;
  }
  .fa-angle-down {
    display: unset;
  }
}
@media all and (max-width: 425px) {
  .nav-bar-container {
    flex-flow: column nowrap;
    align-items: stretch;
  }
  .search-bar {
    position: relative;
    margin: 0 0 0 0;
  }
}
